@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main: rgb(255, 253, 254);
    --desaturatedRed: hsl(0, 36%, 70%);
    --softRed: hsl(0, 93%, 68%);
    --darkGrayishRed: hsl(0, 6%, 24%);
    --gradiente1: hsl(0, 0%, 100%);
    --gradiente2: hsl(0, 100%, 98%);
    --gradiente3: hsl(0, 80%, 86%);
    --gradiente4: hsl(0, 74%, 74%);

}


body {
    font-family: 'Josefin Sans', sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    background: linear-gradient(135deg, var(--gradiente1), var(--gradiente2));
}

.main-container {
    width: 375px;
    height: 800px;
}

.logo-container {
    width: 7em;
    margin: 30px;
}


.details-container {
    padding: 0 40px;
}


.details-container .title {
    margin: 30px;
    font-size: 2.5em;
    text-align: center;
    color: var(--desaturatedRed);
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 300;
    line-height: 1.2;
}

.details-container .title span {
    color: var(--darkGrayishRed);
    font-weight: 600;
}


.details-container .description {
    font-size: 1em;
    text-align: center;
    color: var(--desaturatedRed);
    font-weight: 400;
    margin: 40px 0;
}

form {
    width: 100%;
    height: 50px;
    position: relative;
}


form .input {
    /* background-image: url(./images/icon-error.svg);  */
    background-repeat: no-repeat;
    background-position: 195px;
    background-color: var(--gradiente2);
    border: 1px solid var(--desaturatedRed);
    width: 100%;
    height: 100%;
    border-radius: 50px;
    padding-left: 35px;
    outline: none;
    color: var(--darkGrayishRed);
}

form .input::placeholder {
    color: var(--desaturatedRed);
}

form .button {
    position: absolute;
    right: 0;
    width: 64px;
    height: 100%;
    border-radius: 50px;
    background: linear-gradient(135deg, var(--gradiente3), var(--gradiente4));
    box-shadow: 0 10px 15px var(--gradiente3);
    padding: 14px 25px;
}

.button:hover {
    /* background: brown; */
    background: linear-gradient(135deg, var(--gradiente2), var(--gradiente4));
    box-shadow: 0 10px 15px var(--gradiente4);
}

.error {
    font-size: .85em;
    margin: 10px 0 10px 30px;
    color: var(--softRed);
}


.attribution {
    color: var(--desaturatedRed);
    font-size: 11px;
    text-align: center;
    margin: 30px auto;
}

.attribution a {
    color: var(--desaturatedRed);
    text-decoration: none;
}

.attribution a:hover {
    transition: font-size 0.3s ease;
    font-size: 1.1em;
    color: var(--gradiente4);
}

/* Desktop */

@media(min-width: 100px) {
    .main-container {
        width: 100%;
        height: 100vh;
        position: relative;
        background-image: url(./images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-size: calc(100% - 500px) ;
    }

    .logo-container {
        background-color: red;
        width: 200px;
        margin: 70px 0 140px 120px;
    }

    .img-container {
        height: 100%;
        max-height: 100%;
        content: url(./images/hero-desktop.jpg);
        float: right;
    }

    .details-container {
        padding: 0px;
    }

    .details-container .title {
        line-height: 80px;
        margin: 0;
        font-size: 4.5em;
        width: calc(100% - 490px);
        padding: 0 270px 0 120px;
        text-align: left;
        letter-spacing: 20px;
    }

    .details-container .description {
        line-height: 1.5em;
        margin: 30px 0;
        font-size: 1.2em;
        width: calc(100% - 550px);
        padding: 0 250px 0 120px;
        text-align: left;
    }


    .details-container form {
        margin: 50px 120px;
        right: none;
        font-size: 1em;
        width: 450px;
        text-align: left;
        z-index: 2;
    }

    .details-container form .input {
        background-color: transparent;
        font-size: 1em;
        font-family: 'Josefin Sans', sans-serif;
        color: #333;
        width: 100%;
        background-position: 330px;
    }

    .details-container form .button {
        width: 80px;
        padding: 14px 30px;
    }

    .details-container form .error {
        font-size: .8em;
    }
}

/* Desactivar la barra de desplazamiento por defecto */
::-webkit-scrollbar {
    display: none;
}